body{
    margin : 0 auto;
    padding : 0;
    
    background: url("bg-image.avif");

}

.secondary-container{
    background-color: #181818ee;
    padding: 2rem 0;
}


.header-container{
    padding: 0.1rem;
    margin-bottom: 2.8rem;
    /* background-color: yellow; */
} 

.header-h1{
    font-size: 45px; ;
    color: #d4cece;
    text-align: center;
    text-shadow: 1px 1px 1px #f8f5f5;
}

.header-container p{
    max-width: 500px;
    
    text-align: center;
    margin: 0 auto; 
    margin-bottom: 1rem;
    font-size: 0.8rem;
    color: #8f8787;   
    /* background-color: rgb(38, 38, 149); */
    text-shadow: 0.1px 0.1px 0.1px #f8f5f5b5;

}







.card-container{
    max-width: 66vw;
    padding: 2rem 1rem;
    margin: 0 auto;
    /* background-color: aqua; */
}





.main-container{
    display: grid;
    gap: 1.5rem;
    /* grid-template-columns: repeat(4, 1fr);  */
    grid-template-columns: repeat(auto-fit, minmax(350px, 400px)); 
    justify-content: center;
    /* background-color: orange; */
    margin: 4rem;
} 

@media (min-width:50rem) {
    .main-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width:68.75rem) {
    .main-container{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width:93.75rem) {
    .main-container{
        grid-template-columns: repeat(4, 1fr);
    }
} 

.card-container{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: 0.5px solid rgba(0, 0, 0, 0.119);
    border-radius: 8px;
    background-color: rgba(40, 39, 39, 0.734);
    position: relative;
}

.card-image-container{
    position: relative;
    overflow: hidden;
    height: 7rem;
    background-color: rgb(114, 108, 108);
    border-radius: 2%;
}

@media (min-width: 768px) {
    .card-image-container{
            height: 12rem;
    }
}

.card-image{
    object-fit: cover;
    object-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
    /* background-color: rgb(67, 67, 191); */
}

.card-title-container{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    /* background-color: rgb(69, 7, 71); */
}

.card-container:hover .card-image{
    transform: scale(1.1);
    transition-duration: 200ms;
}

.card-title{
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    margin-bottom: 0.3rem;
    color: rgb(175, 167, 167); 
}


.card-title-anchor:hover .card-title{
    color:rgb(219, 219, 227);
}


.card-desc{
    color: rgb(145, 139, 139);
    font-size: 1rem;
}

.card-footer-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 1.5rem;
    padding-bottom: 1.5rem;
}

.author-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    position: absolute;
    bottom: 0;
    margin-bottom: 2rem;
    
}

.author-avatar-container{

    height: 2.5rem;
    width: 2.5rem;
    overflow: hidden;
    border: 0.3px solid rgb(30, 29, 29);
    border-radius: 50%;
    background-color: rgb(210, 206, 206);
}

.fa-solid.fa-user{
    margin : 0.8rem;
    transform : scale(1.2)
}

.author-info-container{
    display: flex;
    flex-direction: column;
}

.author-name{
    color: rgb(180, 167, 167);
    
}

.author-date{
    color: rgb(176, 169, 169);
}

.card-tag-container{
    margin-left: 1.5rem;
    font-size: 0.79rem;
    border: 1px solid rgb(222, 215, 215);
    border-radius: 4px;
    line-height: 1.3rem;
    padding: 0.25rem 0.5rem;
    color: rgb(186, 185, 185);
}
/* Navbar */
.main-box {
    background-color: rgba(33, 33, 30, 0.077);
    height : 100vh;
    background-size: cover;
  }
  
  .btn-one i {
    color: rgba(255, 255, 255, 0.75);
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 20px;
    line-height: 50px;
    cursor: pointer;
    transition: all 0.25s linear;
  }
  
  .sidebar-menu {
    position: fixed;
    left: -310px;
    height: 100vh;
    width: 300px;
    background-color: rgba(12, 12, 12, 0.867);
    box-shadow: 0 3px 5px rgba(255, 255, 255, 1);
    transition: all 0.3s linear;
    z-index: 3;
  }


  
  .sidebar-menu .logo {
    position: absolute;
    width: 100%;
    line-height: 50px;
    box-shadow: 0 3px 2.5px rgb(124, 124, 124);
    height: 50px;
    border-bottom-right-radius: 5px;
  }
  
  .sidebar-menu .logo a {
    position: absolute;
    left: 35px;
    color: rgb(147, 146, 146);
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
  }
  
  .sidebar-menu .btn-two i {
    color: gray;
    font-size: 25px;
    line-height: 55px;
    position: absolute;
    left: 270px;
    opacity: 0;
    cursor: pointer;
    transition: all 0.25s linear;
  }
  
  .sidebar-menu .menu {
    position: absolute;
    width: 100%;
    top: 70px;
  }
  
  .sidebar-menu .menu li {
    margin-right: 40px;
    padding: 10px 20px;
    list-style: none;
  }
  
  .sidebar-menu .menu i, a {
    color: rgb(141, 140, 140);
    text-decoration: none;
    font-size: 20px;
  }
  
  .sidebar-menu .menu i {
    padding-right: 10px;
  }
  
  .sidebar-menu .social-media {
    color: white;
    opacity: 0.5;
    position: absolute;
    left: 5%;
    bottom: 20px;
  }
  
  .sidebar-menu .social-media i {
    color: white;
    opacity: 0.75;
    padding: 0 5px;
  }
  
  #check {
    display: none;
  }
  
  .sidebar-menu .menu li:hover {
    box-shadow: 0 0 5px rgba(255, 255, 255, 1);
    border-radius: 5px;
  }
  
  .btn-one i:hover {
    font-size: 35px;
    color: white;
  }
  
  .btn-two i:hover {
    font-size: 30px;
    color: white;
  }
  
  .sidebar-menu .social-media i:hover {
    opacity: 1;
    transform: scale(1.5);
    transition: all 0.25s linear;
  }
  
  #check:checked ~ .sidebar-menu {
    left: 0;
  }
  
  #check:checked ~ .btn-one i {
    opacity: 0;
  }
  
  #check:checked ~ .sidebar-menu .btn-two i {
    opacity: 1;
  } 