*{
    margin : 0;
    padding : 0;
    box-sizing: border-box; 
}

body{
    height : 100%;
    width: 100%;
}

.secondary-container{
    margin: 0 auto;
    max-width: 99vw ;
    padding: 3rem 1rem;
    background-color: yellow;

    
}